<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifólio Thiago Gomes</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navtop">
        <div class="container">
            <div class="logo"><a href="#">T<span>G</span></a></div>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Projetos</a></li>
                <li><a href="#">Contatos</a></li>
            </ul>
        </div>
        </div>

    </nav>
    <!--- home -->
    <section class="home" id="home">
        <div class="container">
            <div class="home_content">
                <div class="text-1">Olá, Meu nome é</div>
                <div class="text-2">Thiago Gomes</div>
                <div class="text-3">Full Stack <span>Developer</span></div>

            </div>
            <div class="scroll-down">
                <span>scroll down</span>
                <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="arrow-down" role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                    class="svg-inline--fa fa-arrow-down fa-w-14 fa-5x">
                    <path fill="currentColor"
                        d="M443.5 248.5l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L241 419.9V44c0-6.6-5.4-12-12-12h-10c-6.6 0-12 5.4-12 12v375.9L28.5 241.4c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.8 4.8-12.3.1-17z"
                        class=""></path>
                </svg>
            </div>
            <div class="scroll-down scroll-down--left">
                <span>scroll down</span>
                <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="arrow-down" role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                    class="svg-inline--fa fa-arrow-down fa-w-14 fa-5x">
                    <path fill="currentColor"
                        d="M443.5 248.5l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L241 419.9V44c0-6.6-5.4-12-12-12h-10c-6.6 0-12 5.4-12 12v375.9L28.5 241.4c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.8 4.8-12.3.1-17z"
                        class=""></path>
                </svg>
            </div>
        </div>
    </section>

    <section class="sobre" id="sobre">
        <div class="container">
            <h1>Sobre</h1>
            <div class="content">
                <div class="coluna"></div>
                <p>Eu acredito no poder da educação como um agente transformador de realidades, isso porque eu tive a
                    oportunidade de me formar no curso superior de sistemas de informação, isso mudou a minha realidade
                    social e
                    econômica, me gerando recursos para estudar ainda mais. A partir disso fui encorajado a iniciar
                    minha
                    carreira de docente. Já lecionei para turmas de desenvolvimento web e infraestrutura Cisco no
                    Instituto da
                    oportunidade social o IOS, hoje no mesmo Instituto leciono aulas de Desenvolvimento Web Full Stack,
                    esta
                    experiência incrível me proporciona atuar diretamente em um projeto de impacto social, isso me
                    ensina muito
                    a aprender e a ensinar. Amo o que faço, essa é minha vocação, ser professor, influenciar e motivar
                    pessoas! </p>

            </div>
        </div>
    </section>

    <section class="projetos" id="projetos">
        <div class="projeto-container">
            <h1>Projetos</h1>
            <div class="card">

                <div class="projeto">
                    <img src="..//static/unnamed.gif">
                    <h2>Projeto1</h2>

                </div>

                <div class="projeto">
                    <img src="..//static/unnamed.gif">
                    <h2>Projeto2</h2>

                </div>

                <div class="projeto">
                    <img src="..//static/unnamed.gif">
                    <h2>Projeto3</h2>

                </div>


                <div class="projeto">
                    <img src="..//static/unnamed.gif">
                    <h2>Projeto4</h2>

                </div>
            </div>
        </div>
    </section>

    <section class="contato" id="contato">
        <div class="container">
            <h2>contato</h2>
            <div class="contact-content">
                <div class="column left">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque et amet dolores totam, quisquam
                        expedita, vero distinctio culpa, eum sunt
                        optio tenetur! Voluptas, voluptate. Accusantium aut eum vitae et ab?</p>
                    <div class=infos>
                        <div class="titulo">Nome</div>
                        <div class="subtitulo">Thiago Tomas</div>
                    </div>
                    <div class=infos>
                        <div class="titulo">Endereço</div>
                        <div class="subtitulo">Monte belo,mg - Brasil</div>
                    </div>
                    <div class=infos>
                        <div class="titulo">E-mail</div>
                        <div class="subtitulo">tgomesfoto@gmail.com</div>
                    </div>
                </div>
                <div class="right">
            
                    <form action="/send" method="POST">
                        <div class="fields">
                            <div class="field nome">
                                <label for="nome"> Nome</label>
                                <input type="text" name="nome" placeholder="Informe seu nome" required="required">
                            </div>
                            <div class="field email">
                                <label for="email">Email</label>
                                <input type="email" name="email" placeholder="Informe seu e-mail" required="required">
                            </div>
                            <div class="field assunto">
                                <label for="assunto">Assunto</label>
                                <input type="text" name="assunto" placeholder="Informe o assunto" required="required">
                            </div>
                            <div class="field mensagem">
                                <label for="mensagem">Mensagem</label>
                                <textarea name="mensagem" cols="30" rows="10" placeholder="deixe sua mensagem"
                                    required="required"> </textarea>
                            </div>
                            <button type="submit" name="enviar" value="enviar">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>



</body>

</html>